@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'geomanistregular';
    src: url('./assets/fonts/geomanist-regular-webfont.eot');
    src: url('./assets/fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/geomanist-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/geomanist-regular-webfont.woff') format('woff'),
         url('./assets/fonts/geomanist-regular-webfont.ttf') format('truetype'),
         url('./assets/fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --brown: #C4A586;
    --boldFont: 'Lato', sans-serif; 
    --regularFonts: 'geomanistregular';
    --thinBrown: #FCEFE9;
    --lightBrown: #fae2c8;
}

body {
    background-color: #fbfbfb;
}

h1,
h2,
.prices p,
#clients p {
    font-family: var(--boldFont) ;
}

button,
li > a,
.notes p,
.brown p,
.cart p,
.customers p,
.mistrium p,
.watch 
li > a, 
.products-nav ul li {
    font-family: var(--regularFonts);
  }


.flex {
    display: flex;
    align-items: center;
}

.flex-top {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 1.5rem;
} 

#hamburger {
    height: 3rem;
}

.logo {
    height: 2rem;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 60vw;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
  }
  
  #close-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      height: 2rem;
  }

  nav {
    overflow: hidden;
    height: 0;
    position: relative;
  }

  ul{
    list-style-type: none;
  }
  
  li {
    padding-bottom: 0.8rem;
  }
  
 li > a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
  }

  li a:hover {
     transform: scale(1.1);
     border-bottom: 2px solid black;
  }

  .cart-info {
      margin-top: 4rem;
  }

  .flex-tab {
      margin-top: 4rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 0.9;
  } 

  .hero {
      width: 100%;
      margin-top: 3rem;
  }

  .notes {
    padding: 2rem 0;
  }

  .notes p {
      font-size: 15px;
      color: #72696A;
  }

  button {
    border: none;
    outline: none;
  }

  .btn {
      padding: 1.3rem;
      width: 10rem;
      transition: transform 0.5s;
  }

  .btn:hover {
    transform: scale(0.9);
  }

  .plain-btn{
    color:var(--brown);
    border: 1px solid var(--brown);
    background-color: inherit;
  }

  .colored-btn{
    background-color:var(--brown);
    color: #fff;
    border: 1px solid var(--brown);
    margin-right: .18rem;
  }

  #clients {
      padding: 5rem 1.5rem;
  }

  #clients p {
      text-align: center;
      margin-bottom: 2rem;
  }

  #clients div {
      flex-wrap: wrap;
  }

  #clients div img {
    padding: .3rem 1rem;      
  }

  .brown {
      padding: 2rem 0;
  }

  .brown img {
      width: 50%;
  }

  .brown1 {
      background-color: var(--thinBrown);
      justify-content: space-around;
  }

  .brown2 {
    background-color: var(--lightBrown);
    justify-content: space-around;
}

.brown h2 {
    margin-bottom: 3rem;
}

.brown p {
    font-weight: 600;
    font-size: 15px;
}

.products-nav {
    margin: 5rem 0 3rem;
    padding: 0 1.5rem;
}

.products-nav h2 {
    text-align: left;
    font-size: 2.3rem;
}

.products-nav ul {
    justify-content: center;
    margin-top: 2.7rem;
}

.products-nav ul li {
    color: #a9a7a6;
    padding-right: 1rem;
}

.product-brown-bg {
    background-color:#FFF4E8;
    padding: 0 1.5rem;
    width: 80%;
    margin: 0 auto 8rem;
    position: relative;
    min-height: 280px;
    border-radius: 5px;
}

.cart {
    border-radius: 25px;
    background-color: #D9AB82;
    width: 8rem;
    padding: .5rem 1rem ;
    margin: 0px auto 1rem;
    justify-content: space-between;
    position: relative;
    top: -1rem;
}

.cart p {
    color: #fff;
    font-size: 14px;
}

.product-brown-bg h2 {
    font-size: 1.3rem;   
}

.prices {
    margin: 2rem 0;
}

.new-price {
    font-size: 1.1rem;
    margin-right: 3rem;
}

.old-price {
    color: #a9a7a6
}

.product-image {
    width: 200px;
    position: absolute;
    top: 9rem;
    margin: 0 auto 0;
} 

.big-man {
    width: 100%;
    display: block;
    margin: 3rem auto 0;
}

.person-wrap{
    display: none;
}

.customers {
    padding: 0 1.5rem;
}

.customers h2 {
    font-size: 2.7rem;
    line-height: 0.9;
}

.customers-note {
    margin: 2rem 0;
    font-size: 15px;
    line-height: 1.5;
}

.mike {
    font-weight: 600;
    font-size: 18px;
}

.rating {
    margin: .7rem 0 2.5rem;
}

.mr {
    margin-right: 1rem;
} 

footer {
    background-color: #fff;
    margin-top: 4rem;
}

footer > div {
    padding: 4rem 2rem;
}

.mistrium {
    border: 1px solid #FE8432;
    border-radius: 25px;
    padding: .6rem  1rem;
    width: 9rem;
}

.mistrium p {
    color: #FE8432;
    font-size: 14px;
    text-align: center;
}

footer h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

.input-wrap {
    background-color: #F5F5F5;
    height: 4rem;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.btn-wrap {
    background-color: #D9AB82;
    border-radius: 7px;
    width: 8rem;
}

input {
    background-color: inherit;
    outline: none;
    border: none;
}

footer button {
    background-color: #D9AB82;
    color: #fff;
    height: 3rem;
    padding: 0 1rem;
    font-size: 13px;
    border-radius: 7px;
}

.submit-img {
    background-color: #FAE2C8;
    height: 2.6rem;
    width: 3rem;
    border-radius: 7px;
    justify-content: center;
    margin-right: 4px;
}

footer ul {
    margin: 1.5rem 0;
}

.watch {
    font-size: 14px;
}

.foot-furniture {
    width: 60%;
    margin: 1rem 0;
}

footer li {
    padding-right:1rem;
}

.social-media-icons img {
    height: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 550px) {
    header {
        padding: 1.5rem 2.5rem;
    }

    .colored-btn {
        margin-right: 1rem;
    }

    .product-brown-bg {
        width: 60%;
        padding: 0 3rem;
    }   
    
    .customers,
    .products-nav {
        padding: 0 2.5rem;
    }

    .big-man {
        width: 80%;
    }

    footer > div {
        padding: 4rem;
    }

    .input-wrap {
        justify-content: space-between;
        padding: 0 .5rem 0 1.5rem;
    }

    .btn-wrap {
        width: unset;
    }
}

@media screen and (min-width: 700px) {
    header {
        padding: 1.5rem 5rem;
    }

    .brown h2 {
        font-size: 2rem;
    }

    .brown p {
        font-size: 18px;
    }

    .container {
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: center;
        gap: 25px;
    }

    .product-brown-bg {
        padding: 0 1.5rem;
        width: unset;
        margin: 0 0 8rem 0;
    }

    .customers {
        padding: 0 5rem;
    }

    footer>div {
        padding: 5rem;
    }

    footer h2 {
        font-size: 2.5rem;
    }

    .input-wrap {
        width: 25rem;
    }

    .foot-furniture {
        width: 40%;
    }
}