* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #C4A586;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-top {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 1.5rem;
} 

#hamburger {
    height: 3rem;
}

.logo {
    height: 2rem;
}

.show-links {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 60vw;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
  }
  
  #close-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      height: 2rem;
  }

  nav {
    overflow: hidden;
    height: 0;
    position: relative;
  }

  ul{
    list-style-type: none;
  }
  
  li {
    padding-bottom: 0.8rem;
   
  }
  
  li > a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
  }

  li a:hover {
     transform: scale(1.1);
     border-bottom: 2px solid black;
  }

  .cart-info {
      margin-top: 4rem;
  }